body {
    width: 1000px;
    background-image: url("../img/background.jpeg");
    background-repeat: repeat;
    margin: auto;
}

nav ul li{
    display: inline-block;
    padding: 10px;
}

nav ul li :hover{
    background-color: darkslateblue;
    font-weight: bold;
    color: white;
}

footer{
    text-align: center;
    color: lightgrey;
    background-color: #56626e;
}

nav{
    background-color: lightgrey;
}

header{
    background-color: darkgray;
}

section aside{
    float: right;
    width: 150px;
}

footer{
    clear: right;
}

section table td{
    background-color: lightgrey;
}

section table th{
    background-color: darkgray;
}